* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.s1 {
    padding: 75px;
    text-align: center;
}
.s1 h1 {
    font-weight: bold;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}


.s2 {
    text-align: center;
    padding: 35px 0 35px 0;

}
.s2 p {
    padding-left: 45px;
    line-height: 35px;
}

footer {
    text-align: center;
    background-color: rgb(211, 164, 76);
    padding-bottom: 20px;
}